<!-- Sección de Busqueda del Cliente -->
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Buscar cliente: </strong></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="navbar" id="main">
                    <div class="col-lg-6">
                        <p>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group"><!-- Select input -->
                                <select class="form-control" id="sel1" title="Tipo de Documento" name="Tipo de Documento">
                                  <option>Tipo de Documento</option>
                                  <option>Cédula de Ciudadania</option>
                                  <option>Tarjeta de Identidad</option>
                                  <option>Cédula de Extranjeria</option>
                                </select>
                              </div> <!-- /Select input -->
                            </div>
                            <div class="input-group col-md-6">
                              <p>{{input type="text" class="form-control" value=idClient placeholder=" Número de identificación: "}}</p>

                              <span class="input-group-btn">
                                  <button {{action "compidClient"}}class="btn btn-default" type="button">Buscar</button>
                              </span>
                            </div>
                          </div>
                        </p>
                         {{#if isFailed}}
                            <div class="alert alert-danger" role="alert">
                              <span class="error"></span>
                              <span class="sr-only">Error:</span>
                              El  documento {{idClient}} no es valido.
                            </div>
                          {{/if}}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Información del Cliente -->
    <div class="panel panel-default">
    <div class= "panel-heading">
      <h3 class="panel-title"><strong>Información del Cliente </strong></h3>
    </div>
    <div class="panel-body">
    <table class="table">
            <thead>

                <tr>
                    <th>Nombre Cliente</th>
                    <th>Tipo de Documento</th>
                    <th>Numero de Documento</th>
                </tr>

            </thead>
            <tbody>
              {{#each model as |item|}}
              <tr>
                  <td>{{item.nombre}}</td>
                  <td>{{item.tipo}}</td>
                  <td>{{item.saldo}}</td>

              </tr>
              {{/each}}
            </tbody>
        </table>

    </div>
 </div>
