<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Buscar cliente: </strong></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="navbar" id="main">    
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipo de Identificación <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                  <li>Cédula de Ciudadanía</li>
                                  <li>Tarjeta de Identidad</li>
                                  <li>Cédula de Extranjeria</li>
                                </ul>
                            </div><!-- /btn-group -->
                            <p>{{input type="text" class="form-control" value=idClient placeholder=" Número de identificación: "}}</p>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Buscar</button>
                            </span> 
                        </div>                         
                    </div>        
                </div>     
            </div>  
        </div>
    </div> 
<!-- Información del Cliente -->
    <div class="panel panel-default">
    <div class= "panel-heading"> 
      <h3 class="panel-title"><strong>Información del Cliente </strong></h3>
    </div>  
    <div class="panel-body">
    <table class="table">
            <thead>

                <tr>
                    <th>Nombre Cliente</th>
                    <th>Tipo de Documento</th>
                    <th>Numero de Documento</th>
                </tr>
                {{#each model as |item|}}
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.tipo}}</td>
                    <td>{{item.saldo}}</td>

                </tr>
                {{/each}}
            </thead>
            <tbody>
              <!--  <tr>

                  {{#each model as |bear|}}
                    <td>{{bear.number}}</td>
                    <td>{{bear.title}}</td>
                    <td>{{bear.html_url}}</td>
                  {{/each}}
                </tr>-->
            </tbody>
        </table>

    </div> 
 </div>        
</div> 
