<script type="text/javascript">
  function tipoDocumento(x){

    if("cc" == x){
      document.getElementById('tipoDocu').innerHTML="Cedula de Ciudadanía";
    }else{
      if("ce" == x){
        document.getElementById('tipoDocu').innerHTML="Cedula de Extranjería";
      }else{
        if("nit" == x){
          document.getElementById('tipoDocu').innerHTML="NIT";
        }
      }
    }
  }
</script>
<!-- Información del Cliente -->
{{#each model as |item|}}
    <div class="panel panel-default">
    <div class= "panel-heading">
      <h3 class="panel-title"><strong>Información del Cliente </strong></h3>
    
    
    </div>
    <table class="table table-hover">
      
            <thead>
                <tr>
                    <th>Nombre Cliente</th>
                    <th>Tipo de Documento</th>
                    <th>Numero de Documento</th>
                </tr>

            </thead>
            
            <tbody>
              
              <tr>
                  <td>{{item.clientName}} {{item.lastName}}</td>
                  <td id='tipoDocu'></td>
                  <td>{{item.documentNumber}}</td>
                  <script type="text/javascript">
                    tipoDocumento("{{item.documentType}}");
                  </script>
              </tr>
            </tbody>

            <thead>
                <tr>
                    <th>Correo Electronico</th>
                    <th>Celular</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                  <td>{{item.email}}</td>
                  <td>{{item.cellNumber}}</td>
                  <td>{{item.adress}}</td>
              </tr>  
            </tbody>
            
        </table> 
         </div>
        <<div ALIGN=center class="col-sm-6 col-md-4 col-md-offset-4">
          <img class="fishy" width='80%' src="{{item.urlPhoto}}">
        </div>
        {{/each}}   

 