<!-- Información del Cliente -->
    <div class="panel panel-default">
    <div class= "panel-heading">
      <h3 class="panel-title"><strong>Información del Cliente </strong></h3>
    </div>
    <div class="panel-body">
    <table class="table table-hover">
            <thead>

                <tr>
                    <th>Nombre Cliente</th>
                    <th>Tipo de Documento</th>
                    <th>Numero de Documento</th>
                </tr>

            </thead>
            <tbody>
              {{#each model as |item|}}
              <tr>
                  <td>{{item.name}} {{item.lastName}}</td>
                  <td>{{item.documentType}}</td>
                  <td>{{item.documentNumber}}</td>
              </tr>
              {{/each}}
            </tbody>
        </table>

    </div>
 </div>

 <!-- Lista de productos -->
  <div class="panel panel-default">
    <div class= "panel-heading">
      <h3 class="panel-title"><strong>Lista de Productos</strong></h3>
    </div>
    <div class="panel-body">
    <table class="table table-hover">
            <thead>

                <tr>
                    <th>Tipo Producto</th>
                    <th>Nombre Producto</th>
                    <th>Saldo</th>
                </tr>

            </thead>
            <tbody>
              {{#each modelProd as |itemProd|}}
              <tr data-toggle="collapse" data-target="#{{itemProd.id}}" class="accordion-toggle">
                  <td>{{itemProd.productType}} </td>
                  <td>{{itemProd.productName}}</td>
                  <td>{{itemProd.productBalance}}</td>

              </tr>
              <tr >
              <!--Lista de movimientos -->
            <td colspan="6" class="hiddenRow"><div  class="accordian-body collapse" id={{itemProd.id}}> <h3 align="center">Listado de movimientos para el producto {{itemProd.productName}} </h3>
            <table class="table table-hover">
             <thead>

                <tr>
                    <th>Fecha Movimiento</th>
                    <th>Descripción</th>
                    <th>Valor del Movimiento</th>
                </tr>

            </thead>
            <tbody>
             <tr>
                  <td>12-11-2015</td>
                  <td>Retiro</td>
                  <td>$200.000</td>

              </tr>
              
            </tbody>


            </table>
            </div> </td>
        </tr>
            
            {{/each}}
            </tbody>
        </table>

    </div>
 </div>