<script type="text/javascript">
  function tipoDocumento(x){

    if("cc" == x){
      document.getElementById('tipoDocu').innerHTML="Cedula de Ciudadanía";
    }else{
      if("ce" == x){
        document.getElementById('tipoDocu').innerHTML="Cedula de Extranjería";
      }else{
        if("nit" == x){
          document.getElementById('tipoDocu').innerHTML="NIT";
        }
      }
    }
  }

  function formatoFecha(fec,y){
    var msec = Date.parse(fec);
    var d = new Date(msec);
    document.getElementById(y).innerHTML=d.getUTCFullYear()+"/"+d.getUTCMonth()+"/"+d.getUTCDay()+" : "+d.getUTCHours()+":"+d.getUTCMinutes()+":"+d.getUTCSeconds();
  }
</script>

<!-- Información del Cliente -->
    <div class="panel panel-default">
    <div class= "panel-heading">
      <h3 class="panel-title"><strong>Información del Cliente </strong></h3>
    </div>
    
    <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre Cliente</th>
                    <th>Tipo de Documento</th>
                    <th>Numero de Documento</th>
                </tr>

            </thead>
            <tbody>
              {{#each model as |item|}}
              <tr>
                  <td>{{item.name}} {{item.lastName}}</td>
                  <td id='tipoDocu'></td>
                  <td{{action "infoCliente" item.documentNumber item.documentType}}>{{item.documentNumber}}</td>
                  <script type="text/javascript">
                    tipoDocumento("{{item.documentType}}");
                  </script>
              </tr>
              {{/each}}
            </tbody>
        </table>    
 </div>

 <!-- Lista de productos -->
  <div class="panel panel-default">
    <div class= "panel-heading">
      <h3 class="panel-title"><strong>Lista de Productos</strong></h3>
    </div>
    
    <table class="table table-hover">
            <thead>

                <tr>
                    <th>Tipo Producto</th>
                    <th>Nombre Producto</th>
                    <th>Saldo</th>
                    <th>Detalle</th>
                </tr>

            </thead>
            <tbody>
              {{#each modelProd as |itemProd|}}    

              <tr>
                  <td>{{itemProd.productType}} </td>
                  <td>{{itemProd.productName}}</td>
                  <td class="text-success">${{itemProd.productBalance}}</td>
                  <td><button  class="btn btn-info btn-sm" {{action "showModalDialog" itemProd.id itemProd.productName}}>Ver Movimientos</button></td>
              </tr>
            
            {{/each}}
            </tbody>
        </table>

    
 </div>

{{#if isShowingModal}}
{{#modal-dialog targetAttachment="center" translucentOverlay=true close='closeModalDialog'}}
  <div class="panel panel-default">
    <div class= "panel-heading">
      <h3 class="panel-title"><strong>Movimientos del Producto {{modalProductName}}</strong></h3>
    </div>
    <table class="table table-hover">
            <thead>

                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Valor</th>
                </tr>

            </thead>
            <tbody>
              {{#each modelMov as |itemMov|}}    
              <tr>
                  <td id='{{itemMov.id}}'>{{itemMov.dateMovement}} </td>
                  <td>{{itemMov.description}}</td>
                  <td class="text-success" >${{itemMov.valueMovement}}</td>
                  <script type="text/javascript">
                    formatoFecha("{{itemMov.dateMovement}}","{{itemMov.id}}");
                  </script>
              </tr>            
            {{/each}}
            </tbody>
        </table>
    
  </div>
{{/modal-dialog}}
{{/if}}